name: Manual release

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Tailscale env
        id: tailenv
        shell: bash
        run: |
          TS_ID=$(echo ${{ secrets.TS_OAUTH_CLIENT_SECRET }} | cut -d '-' -f 3)
          echo ::add-mask::$TS_ID
          echo "TS_ID=$TS_ID" >> "$GITHUB_OUTPUT"
          echo TS_SSH=$(curl https://github.com/${{github.actor}}.keys) >> "$GITHUB_OUTPUT"
          echo TS_HOST=gha-ssh-${{ runner.os }}-$(openssl rand -hex 6) >> "$GITHUB_OUTPUT"
      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ steps.tailenv.outputs.TS_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_CLIENT_SECRET }}
          hostname: ${{ steps.tailenv.outputs.TS_HOST }}
          tags: tag:weak
      - name: Tailscale SSH set pubkey
        uses: ge9/actions/ssh-pubkey@main
        with:
          ssh_public_key: ${{ steps.tailenv.outputs.TS_SSH }}
      - name: Tailscale SSH info
        uses: ge9/actions/timeout@main
        with:
          check-cmd: ${{ runner.os == 'Windows' && 'tasklist /FI "IMAGENAME eq sshd.exe" /V | findstr /I runneradmin'
                      || 'pgrep sshd -u runner' }}
          info-cmd: "echo ssh ${{ steps.tailenv.outputs.TS_HOST }}"